* {
    box-sizing: border-box;

}
:root {
    --primary-color:rgba(15, 27, 76, 1);
}
html {
    
    font-size: 62.5%;
  
}
body {
    font-size: 1.6 rem;
    font-family: 'Poppins', sans-serif;
}
/* Common */
a {
    text-decoration: none;
}
.content {
    width :1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.btn {
    display: inline-block;
    min-width: 98px;
    background-color: var(--primary-color);
    border-radius: 12px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 14px;
    text-align: center;
    color: #fff;
    padding: 18px 16px;
}
.btn:hover {
    opacity: 0.9;
    
}
.line-clamp {
        /* lam dau 3 chamn */

    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* ====================================header======================================================== */
.header {
    position: relative;
    background: rgba(230, 240, 255, 1);
    height:100vh;
}
.navbar {
    display: flex;
    padding-top: 38px;
    align-items: center;
}
.navbar ul {
    display: flex;
    margin-left: 50px;
}
.navbar .actions {
    margin-left: auto;
}
.navbar ul a {
    font-size: 1.4rem;
    font-weight: 500;
    color: rgba(79, 83, 97, 1);
    padding: 8px 14px;
}
.navbar ul a:hover {
    text-decoration: underline;
}
.navbar .action-link {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 21px;
    color: var(--primary-color);
}
.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}
/* hero begin */
.hero {
    margin-top:130px;
}
.hero .info {
    width: 51%;
}
.hero .sub-title {
    color: #687690;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.018rem;
}
.hero .title {
    margin-top: 8px;
    color: #000336;
    font-family: Poppins;
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 7.6rem; /* 118.75% */
}
.hero .des {
    margin-top: 30px;
    color: #5A6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem; /* 177.778% */
}
.hero .hero-cta {
    min-width: 170px;
    margin-top: 40px;
}
.hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px ) / 2 - 100px );
}
/* ====================================Client======================================================== */
.client {
    margin-top: 79px;
    padding: 43px 0 64px;
}
.client .row {
    display: flex;
    justify-content: space-between;
}
.client .row {
    color: #7D8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 20px; /* 125% */
}
.client .row-des {
    margin-top: 23px;
}
.client .images {

    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client .images a {
    display: flex;
    align-items: center;
    padding: 0 42px;
    height: 90px;


}
.client .images a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}
.guides {
    margin-top: 200px;
}
.guides .sub-title {
    position: relative;
    color: #000339;
    text-align: center;
    font-family: Poppins;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.guides .sub-title::before{
    position: absolute;
    transform: translateX(-50%);
    top: -1rem;
    left: 50%;
    content: "";
    display: inline-block;
    width: 4.1rem;
    height: 0.4rem;
    border-radius: 1.2rem;
    background: #000339;
}
.guides .des { 
    max-width: 100%;
    width: 45.9rem;
    margin: 20px auto 0;
    color: #5A6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem; /* 187.5% */
}
.list-guide {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.list-guide .guide-item {
    margin: 0 70px;
    text-align: center;
}
.list-guide .guide-item .title {
    margin-top: 26px;
    color: #3B3C45;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1; /* 110% */
}
.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    color: #0689FF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}
.guide-item .arrow {
    margin-left: 6px;
}
.guides .guide-cta {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.guide-cta .btn {
    min-width: 170px;
}
/* ========================================featured=================================================== */

.featured {
    margin-top: 230px;
    margin-bottom: 110px;
    flex-shrink: 0;
    background: #F5FAFE;
    padding: 110px;
}
.featured .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    color: #5A6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem; /* 187.5% */
}
.featured .link {
    display: flex;
    align-items: center;
    color: #0689FF;
    text-align: right;
    font-size: 1.8rem;
    font-weight: 600;
}
.featured .arrow {
    margin-left: 8px;

}
.featured .list {
    gap: 30px;
    display: flex;
    margin-top: 70px;
}
.featured .item {
    background-color: #fff;
    flex: 1;
    border-radius: 12px;
}
.featured .item .thumb {
    height: 227px;
    object-fit: cover;
    width: 100%;
    border-top-left-radius:12px ;
    border-top-right-radius:12px ;

}
.featured .item .body {
    padding: 17px 20px 24px;
}
.featured .item .title a {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5; /* 100% */


}
.featured .item .desc {
    --line-clamp:3;
    margin-top: 11px;
    color: #A3A6AB;
    /* text-align: center; */
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.1rem;
    word-break: break-all;
}
.featured .item .infor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 21px;
    color: #4D4D52;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem; /* 100% */
    letter-spacing: 0.014rem;
}
.featured .item .icon {
    margin-left: 2.3rem;
    margin-right: 8px;
}
.featured .item .icon:first-child {
    margin-left: 0;
}
/* ========================================stats=================================================== */
.stats {
    margin-top: 75px;
    padding: 50px 0;
}
.stats .content {
    width: 1048px;
}
.stats .row {
    display: flex;
}
.stats .img-block, 
.stats .infor {
    width: 50%;
}
.stats .img-block {
    position: relative;
}
.stats-trend {
    height: 252px;
    border-radius: 0rem 0rem 1.2rem 1.2rem;
    background: #FFF;
    box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: #000336; */
    width: 239px;
}
.stats-trend .value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 2.6rem; /* 100% */
    letter-spacing: 0.026rem;
}
.stats-trend .row {
    margin: 45px 22px 0 ;
    display: flex;
    justify-content: space-between;
}
.stats .img-block .img {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}
.stats .img-block .desc {
    width: 194px;
    margin: 8px 23px 0;
    color: #A7A7A7;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px; /* 150% */
}

.stats .img-block .separate {
    margin: 26px 23px 0;
    width: 193.62px;
    height: 1.2px;
    flex-shrink: 0;
    background: #E9E9E9;
}

.stats .avatar-block {
    width: 100%;
    margin: 10px;
    margin-left: 22px;
    margin-right: 30px;
    display: flex;
    flex-wrap: wrap;
}
.avatar-block .avatar-group {
    display: flex;
}
.avatar-block .avatar {
    margin-top: 16px;
    width: 16px;
    height: 16px;
    object-fit: cover;
    margin-left: -3px;
    border-radius: 16.337px;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.10);
}
.avatar-block .avatar:first-child {
    margin-left: 3px;
}
.avatar-block .avatar:last-child {
    margin-right: 14px;
}
.stats .infor {
    padding: 79px 0 0 165px;
}
.stats .infor .sub-title {
    position: relative;
    margin-top: 10px;
    width: 269px;
    height: 142px;
    color: #000339;
    font-size: 35px;
    font-weight: 600;
    line-height: 45px; /* 128.571% */
}
.stats .infor .sub-title::before {
    
    position: absolute;
    left: 0;
    margin-top: -10px;
    content: "";
    width: 4.1rem;
    height: 0.4rem;
    flex-shrink: 0;
    border-radius: 1.2rem;
    background: #000339;
}
.stats .infor .desc {
    width: 309px;
    margin-top: 20px;
    color: #5A6473;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}
.stats .row .qty-item {
    margin-top: 110px;
}
.stats .row-qty {
    justify-content: space-between;
    margin-left: 32px;
}
.row-qty .qty {
    color: #000;
    font-size: 64px;
    font-weight: 600;
    line-height: 64px; /* 100% */
}
.row-qty .qty-desc {
    margin-top: 22px;
    color: #7B8087;
    font-size: 18px;
    font-weight: 500;
}

/* ====================================================subscription============================================================= */
.Subscription{
    margin-top: 70px;
}
.Subscription .body {
    align-items: center;
    display: flex;
    height: 370px;
    border-radius: 20px;
    background: #063183;
}
.body .info {
    margin: 0 80px;
    
}
.Subscription .info .sub-title {
    color: #FFF;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.5; /* 100% */
}
.Subscription .info .desc {
    margin-top: 15px;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    opacity: 0.75;
}
.Subscription .info .btn {
    height: 50px;
    width: 151px;
    margin-top: 20px;
    color: #002366;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5;
    background-color: #fff;
}
.Subscription .body .image {
    margin-left: 5px;
}
/* ========================================footer=================================================== */
.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}
.footer .row {
    display: flex;
}
.footer .row-top {
    gap: 185px;
}
.footer .row-top .heading {
    color: #1C1C1D;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 700;
 }
 .footer .row .desc, 
 .footer .row-top .list {
    margin-top: 42px;
 }
 .footer .item {
    margin-top: 18px;
 }
 .footer .item a, 
 .footer .row .desc {
    color: #7A7A7E;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
 }
 .footer .row .desc {
    white-space: normal;
    line-height: 1.75;
 }
.footer .social {
    display: flex;
    margin-top: 40px;
}
.footer .social-link {
    display: flex;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
}
.footer .social-link:hover {
    opacity: 0.6;
}
.footer .row-down {
    margin-top: 81px;
    display: flex;
    justify-content: space-between;
}
.footer .copyright {
    display: flex;
    align-items: center;
    color: #C2C2C2;
    font-size: 14px;
    font-weight: 400;
}